# File I'll likely delete
#test-script

# Ignore all .html files, except 'important.html'
#*.html
#!important.html

# Ignore all files recursively in 'DoNotInclude'
#DoNotInclude/**
 
*.py[cod]
*.sw[po]

# Packages
*.egg
*.egg-info
dist
build
sdist

*.sqlite3

.idea/**
debug/**

*.pkg.tar.*
PKGBUILD.*

*.tar.bz2
*.tar.gz
